@model CareTakerCT.Models.Appointment

@{
    ViewBag.Title = "Appointment Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Appointment Details</h2>

    <div class="card mb-3 mt-3" >
        <div class="card-body">
            <h4 class="card-title">Appointment Information</h4>
            <hr />

            <dl class="row">
                <dt class="col-sm-3">Start Time</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.BookTime)</dd>

                <dt class="col-sm-3">End Time</dt>
                <dd class="col-sm-9">@Model.BookTime.AddHours(1)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Patient)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Patient.FullName)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Clinic)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Clinic.Name)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Doctor)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Doctor.FullName)</dd>
            </dl>
        </div>
    </div>

    <p>
        @if (User.IsInRole("doctor") || User.IsInRole("admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary", style = "margin-right: 10px;" })
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger", style = "margin-right: 10px;" })
        }
        <a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
    </p>
</div>
