@model IEnumerable<CareTakerCT.Models.Appointment>

@{
    ViewBag.Title = "Your Booked Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Booked Appointments</h2>

<p style="margin-top: 2rem; margin-bottom: 2rem">
    <a class="btn btn-outline-dark" href="/Appointments/Create">Book a New Appointment</a>
</p>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th>
                Description
            </th>
            <th>
                Clinic
            </th>
            <th>
                Doctor
            </th>
            @if (User.IsInRole("admin") || User.IsInRole("doctor"))
            {
                <th>
                    Patient
                </th>
                <th>Options</th>
            }
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="past-appointment">
                <td>
                    @Html.DisplayFor(modelItem => item.BookTime)
                </td>
                <td>
                    @item.BookTime.AddHours(1)
                </td>
                <td>
                    @Html.Raw(item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clinic.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.FirstName)
                </td>

                @if (User.IsInRole("admin") || User.IsInRole("doctor"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Patient.FirstName)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col">
        @Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-secondary mt-3" })
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap4.js")
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                stripeClasses: [],
                stripe: false, // Disable row striping
                columnDefs: [
                    {
                        type: 'date', // Specify date sorting for the Start Time column
                        targets: [0] // Index of the Start Time column (adjust if needed)
                    },
                    {
                        type: 'date', // Specify date sorting for the End Time column
                        targets: [1] // Index of the End Time column (adjust if needed)
                    }
                ]
            }
            );

            // Function to check and mark past appointments
            function markPastAppointments() {
                var currentTime = new Date();
                $('.past-appointment').each(function () {
                    var endTime = new Date($(this).find('td:eq(1)').text()); // Adjust the index if needed
                    console.log(endTime < currentTime);

                    if (endTime < currentTime) {
                        $(this).css('background-color', '#e0dede');
                        $(this).css('color', 'gray');

                    }
                });
            }

            // Initial call to mark past appointments
            markPastAppointments();
        });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
