@model IEnumerable<CareTakerCT.Models.Clinic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Clinic locations</h2>

<p>
    @if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            @if (User.IsInRole("admin"))
            {
                <th>Options</th>
            }
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>

                @if (User.IsInRole("admin"))

                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        <span> | </span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                 }
                    


                </tr>
        }
    </tbody>

</table>


@section Scripts {

    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap4.js")
    <script>
         $(document).ready(function () {
            $('.table').DataTable();
         });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet" />
